html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #121212; /* Dark background for the entire page */
  color: #e0e0e0; /* Light text for default readability */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.inline-button {
  margin-left: 0.5em;
  padding: 2px 6px;
  font-size: 0.9em;
  background-color: #333;
  color: white;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
}
.inline-button:hover {
  background-color: #555;
}
.disabled-button {
  background-color: #555 !important;
  color: #999 !important;
  border-color: #444 !important;
  cursor: not-allowed;
  text-shadow: none !important;
  opacity: 0.6;
}


html {
  position: relative;
  min-height: 100%;
}

/* General terminal styling */
.terminal {
  font-family: "Courier New", Courier, monospace; /* Monospaced font */
  background: radial-gradient(circle, #333 0%, #111 60%, #000 100%); /* CRT radial gradient */
  text-shadow: 0 0 10px #0f08; /* Subtle glow effect for text */
  font-size: 0.9em;
  color: #cfc; /* Green text (classic terminal look) */
  padding: 10px;
  margin: 0; /* Remove margin */
  list-style: none; /* No bullets for the list */
  height: 100%; /* Full height of the container */
  overflow-y: auto; /* Scrolling for overflow */
  white-space: pre-wrap; /* Preserve formatting for multiline content */
  border: 2px solid #555; /* Optional: border for visual separation */
  box-sizing: border-box; /* Include padding in height/width calculations */
  line-height: normal;
}

/* Optional: Add styles for individual messages */
.terminal li {
  margin: 5px 0;
}

/* Style the autocomplete dropdown */
#autocompleteList {
  /* position: absolute; */
  background-color: #111;
  font-family: "Courier New", Courier, monospace; /* Monospaced font */
  color: #cfc; /* Green text (classic terminal look) */
  text-shadow: 0 0 10px #0f08; /* Subtle glow effect for text */

  border: 1px solid #ccc;
  max-height: 30px;
  height: 30px;
  overflow-y: auto;
  z-index: 1000;
  width: calc(90% - 2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease; /* Smooth height transition */
  margin: 3px;
  /* bottom: 4em; */
}

#autocompleteList div {
  padding: 8px;
  cursor: pointer;
}

#autocompleteList div:hover {
  background-color: #0077cc;
  color: white;
}