@page
@{
    ViewData["Title"] = "GGJ Text Game";
}
<div style="display: flex; height: 100%; flex-direction: column; ">
    <div class="row p-2">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>

    <div class="scroll-box" style="flex-grow: 1; height:100px; overflow-y: scroll;">
        <ul id="messagesList" class="terminal"></ul>
    </div>

    <div class="row p-1">
        <div class="col-5">
            <input type="text" class="w-100" autofocus id="messageInput" placeholder="command with autocomplete, arrowkeys for history" />
        </div>
        <div class="col-1">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div id="autocompleteList"></div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>